.git
.github
node_modules
vendor
tests
playwright-report
test-results
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/uploads/*
.env
.env.backup
.env.production
.phpunit.result.cache
