[v-cloak] { 
    display: none !important; 
}

.slide-enter-active {
    transition: all 0.3s cubic-bezier(0.4,0,0.2,1);
}

.slide-leave-active {
    transition: all 0.2s cubic-bezier(0.4,0,0.2,1);
}

.slide-enter-from, .slide-leave-to {
    transform: translateY(-32px);
    opacity: 0;
}

.slide-enter-to, .slide-leave-from {
    transform: translateY(0);
    opacity: 1;
}

.overflow-x-auto::-webkit-scrollbar {
    height: 10px;
}

.overflow-x-auto::-webkit-scrollbar-track {
    border-radius: 5px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #4b5563; /* gray-600 */
}

/* Firefox */
.overflow-x-auto {
    scrollbar-width: thin;
    scrollbar-color: #6b7280 #d1d5db;
}

/* Dark mode support */
.dark .overflow-x-auto::-webkit-scrollbar-track {
    background: #4b5563; /* gray-600 */
}

.dark .overflow-x-auto::-webkit-scrollbar-thumb {
    background: #9ca3af; /* gray-400 */
}

.dark .overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #d1d5db; /* gray-300 */
}

.dark .overflow-x-auto {
    scrollbar-color: #9ca3af #4b5563;
}